@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700&family=Cormorant+Garamond:ital@0;1&family=Raleway:ital,wght@0,200;0,400;0,600;0,700;1,200;1,400;1,600&display=swap');
header{
    top: 10px; 
    align-items: center;
    width: auto;
    position: relative;
    background-color:#F0E8B8;
    color:rgb(56, 40, 73);
}

.navbar {
    position:relative; 
    overflow: hidden;
    position: relative;
    background-color:  rgb(56, 40, 73);
    width: 100%; 
}
.navbar a {
    float: left;
    display: block;
    color:#F0E8B8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover {
    background:#F0E8B8;
    color: rgb(56, 40, 73);
  }
.navbar a.active {
  background-color: rgb(56, 40, 73);
  color:#F0E8B8;
}
  body{
    background-color: #F0E8B8; 
   
  }
  *{
    margin:0;
    padding:0;
  }
  #inicio{
    margin-top: 60px;
    text-align: center;
    position: relative; 
    background-color: rgb(56, 40, 73);
  }
  #sobre{
    margin-top: 200px;
    text-align: center;
    position: relative;
  }
  #formacao{
    margin-top: 200px;
    text-align: center;
    position: relative;
  }
  #curiosidades{
    margin-top: 200px;
    text-align: center; 
    position: relative;
  }
  #contato{
    margin-top: 200px;
    text-align: center;
    position: relative;
  }
  .text-header{
    margin-top: 100px;
    height: 60px;
    color:#F0E8B8;
    text-align: center;
    position: relative;
    font-family: "Cormorant Garamond"; 
  }
  .inicio-text{
    margin: auto;
    width: 500px;
    height: 60px;
    display: flex;
    color:rgb(56, 40, 73);
    text-align: center;
    font-family: "Cormorant Garamond"; 
    font-style: italic;
  }
  .card{
    margin:auto;
    display: flex;
    whidth:80%;
    height:600px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(56, 40, 73);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .sobre-text{
    margin: auto;
    width: 300px;
    height:auto;
    text-align: justify;
    position: relative;
    color:white;
  }
  .formacao-text{
     margin: auto;
    width: 300px;
    height:auto;
    color:white;
    text-align: justify;
    position: relative;
  }
  .curiosidades-text{
     margin: auto;
    width: 300px;
    height:auto;
    color:white;
    text-align: start;
    position: relative;
  }
  .inicio-img {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer{
    overflow: hidden;
    background-color:rgb(56, 40, 73);
    width: 100%;
    margin-top: auto;
    height: auto;
  }
  #contato{
    width: 100%;
    background-color: rgb(56, 40, 73);
    color: #F0E8B8;
  }
  footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  footer p{
    text-align: center;
    color:  #F0E8B8;
  }
  .social-media a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #F0E8B8;
    margin: 20px 10px;
    border-radius: 50%
  }
  .social-media i{
    color: rgb(56, 40, 73);
    font-size: 30px; 
  }
  .social-media a:hover{
    background-color: rgb(56, 40, 73);
    box-shadow:2px 2px 12px rgba(0, 0, 0, 2);
    transition: all ease 0.5s;
  }
  
  .social-media{
    display: flex;
  }
